In [54]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [63]:
data = pd.read_excel("dataset_1.xls")

In [69]:
# Remove whitespace from column names
data.columns = list(map(lambda x: x.strip(), data.columns))

# Find values of '  .'
for col in data.columns:
    try:
        data[col][data[col] == '  .'] = np.nan
    except:
        continue

In [70]:
data

,State,Herd,# PTAs,PTAM,PTAF,PTAP,RHA # cows,% W PTAs,RHAM,RHAF,...,Fat10,Pro10,Tdate11,Milk11,Fat11,Pro11,Tdate12,Milk12,Fat12,Pro12
0,11,1,581,272,17,11,590,98,29810,1093,...,3.8,3.1,2017-10-19 00:00:00,80,4,3.1,2017-09-19 00:00:00,78,3.8,3.1
1,11,2,319,309,23,12,331,97,30020,1134,...,.,.,.,NaN,.,.,.,NaN,.,.
2,11,3,10,-448,-18,-19,132,8,22439,892,...,4.2,3.1,2017-08-31 00:00:00,65,3.7,3.1,2017-07-31 00:00:00,64,3.8,3
3,11,4,54,388,16,11,60,90,23466,821,...,3.4,2.9,.,NaN,.,.,.,NaN,.,.
4,11,5,76,658,21,19,80,95,27769,1118,...,4.1,3,2017-09-14 00:00:00,74,4.1,3.1,2017-08-16 00:00:00,72,4,3
5,11,6,38,20,-4,1,75,51,16129,589,...,4.1,3,2017-10-10 00:00:00,43,3.8,3,2017-09-12 00:00:00,41,4,2.9
6,11,7,111,-15,0,-1,176,63,22194,805,...,3.3,3.1,.,NaN,.,.,.,NaN,.,.
7,11,8,152,362,19,15,210,72,28424,1044,...,3.9,3.2,2017-10-06 00:00:00,76,3.8,3,2017-09-06 00:00:00,75,3.8,3
8,11,9,41,311,2,8,48,86,21075,763,...,3.3,3.2,2017-10-12 00:00:00,54,4,3,2017-09-12 00:00:00,64,3.3,3
9,11,10,37,-21,7,-1,51,72,16093,591,...,4.2,3.3,2017-10-10 00:00:00,43,3.8,3.1,2017-09-08 00:00:00,46,3.5,3.1
10,11,11,48,-114,17,3,52,92,21200,863,...,4,3,2017-09-29 00:00:00,60,3.9,3,2017-08-31 00:00:00,62,3.7,3.1
11,11,12,71,-246,7,-1,78,91,22436,836,...,3.4,3.2,2017-11-01 00:00:00,52,4,3.3,2017-09-18 00:00:00,52,3.3,3.1
12,11,13,22,-169,-1,-2,25,90,18700,654,...,3.7,3,2017-10-18 00:00:00,52,3.3,3,2017-09-15 00:00:00,49,3.5,3
13,11,14,37,279,7,5,52,71,17312,624,...,3.7,3,2017-10-09 00:00:00,52,3.1,3.1,2017-09-07 00:00:00,52,3.5,3.1
14,11,15,41,-21,9,0,53,77,20787,819,...,4.3,3.5,2017-10-26 00:00:00,56,4.1,3.4,2017-09-28 00:00:00,57,3.7,3.2
15,11,16,25,276,6,8,37,67,16806,613,...,3.7,3,2017-10-05 00:00:00,51,3.4,3.2,2017-09-05 00:00:00,52,3.5,3.3
16,11,17,76,-10,-1,-5,83,92,21082,725,...,2.9,2.7,.,NaN,.,.,.,NaN,.,.
17,11,18,17,545,20,14,78,22,21464,739,...,3.4,2.9,2017-10-03 00:00:00,66,3.3,2.9,.,NaN,.,.
18,11,19,25,-137,1,-4,54,47,14308,532,...,3.7,2.8,2017-09-16 00:00:00,33,3.5,2.8,.,NaN,.,.
19,11,20,88,285,15,10,107,82,22655,778,...,3.6,3,2017-09-29 00:00:00,52,3.6,3,2017-08-28 00:00:00,52,3.7,3.1
20,11,21,773,698,25,23,777,99,30247,1231,...,4.1,3.2,2017-10-19 00:00:00,80,4.2,3.2,2017-09-21 00:00:00,87,4.1,3
21,11,22,11,-196,2,1,151,7,21939,855,...,4.1,3.2,.,NaN,.,.,.,NaN,.,.
22,11,23,48,-309,-6,-8,210,23,18694,790,...,4,3.3,2017-10-26 00:00:00,49,3.9,3.1,2017-09-18 00:00:00,44,3.9,3.1
23,11,24,16,157,13,7,192,8,20558,833,...,3.8,2.9,2017-09-01 00:00:00,65,4,3.1,.,NaN,.,.
24,11,25,47,182,7,5,67,70,18924,775,...,4.5,3.2,2017-10-08 00:00:00,47,4.3,3.1,2017-09-10 00:00:00,51,4.1,3.1
25,11,26,52,279,13,9,60,87,22309,750,...,.,.,.,NaN,.,.,.,NaN,.,.
26,11,27,22,-295,-10,-7,24,93,19933,715,...,3.7,3.1,2017-10-01 00:00:00,57,3.4,3.1,2017-09-01 00:00:00,66,3.9,3.4
27,11,28,5,-595,-27,-24,51,10,15602,543,...,.,.,.,NaN,.,.,.,NaN,.,.
28,11,29,99,36,11,3,105,94,25774,996,...,3.8,3.1,2017-10-31 00:00:00,77,3.8,3,2017-09-22 00:00:00,71,3.7,3.1
29,11,30,32,624,19,17,31,105,24989,923,...,3.7,2.9,2017-10-04 00:00:00,64,3.6,2.9,2017-09-01 00:00:00,66,3.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7889,74,7890,64,312,12,9,80,80,22383,770,...,3.6,3,.,NaN,.,.,.,NaN,.,.
7890,74,7891,151,590,26,18,172,88,20273,714,...,3.9,3.2,2017-09-14 00:00:00,42,3.4,3.1,.,NaN,.,.
7891,74,7892,126,372,11,8,136,93,22200,831,...,3.8,3.2,2017-09-26 00:00:00,42,3.9,3.3,.,NaN,.,.
7892,74,7893,137,468,20,15,180,76,21873,788,...,.,.,.,NaN,.,.,.,NaN,.,.
7893,74,7894,429,657,22,18,454,94,24888,1038,...,4.4,3.4,.,NaN,.,.,.,NaN,.,.
7894,74,7895,174,153,10,5,197,88,22124,779,...,.,.,.,NaN,.,.,.,NaN,.,.
7895,74,7896,48,-297,-10,-10,122,39,21781,822,...,.,.,.,NaN,.,.,.,NaN,.,.
7896,74,7897,166,-186,-6,-5,242,69,18936,668,...,.,.,.,NaN,.,.,.,NaN,.,.
7897,74,7898,78,-386,-11,-11,117,67,19810,745,...,.,.,.,NaN,.,.,.,NaN,.,.
7898,74,7899,141,-161,-8,-4,190,74,21212,776,...,3.7,3.2,2017-09-17 00:00:00,50,3.6,3,.,NaN,.,.
7899,74,7900,4,-442,-20,-15,125,3,21071,.,...,.,.,.,NaN,.,.,.,NaN,.,.
7900,74,7901,92,767,26,25,106,86,24593,906,...,3.6,3.2,2017-09-16 00:00:00,55,3.9,3.2,.,NaN,.,.
7901,74,7902,6,-1313,-44,-39,130,5,19479,407,...,.,.,.,NaN,.,.,.,NaN,.,.
7902,74,7903,285,459,20,10,339,84,22203,757,...,.,.,.,NaN,.,.,.,NaN,.,.
7903,74,7904,135,397,20,15,139,97,26212,978,...,4.1,3.3,2017-10-15 00:00:00,57,3.7,3.1,2017-09-13 00:00:00,59,3.7,3.1
7904,74,7905,197,172,9,6,250,79,20208,756,...,3.8,3.2,.,NaN,.,.,.,NaN,.,.
7905,74,7906,262,571,21,17,301,87,22070,797,...,3.8,3.2,.,NaN,.,.,.,NaN,.,.
7906,74,7907,70,-66,2,0,256,27,22503,833,...,3.5,3.1,2017-07-27 00:00:00,55,3.6,3,.,NaN,.,.
7907,74,7908,2,-1660,-54,-57,1273,0,24330,903,...,3.7,3.1,2017-09-01 00:00:00,62,3.7,3.1,.,NaN,.,.
7908,74,7909,259,381,22,13,302,86,22679,889,...,3.6,3.1,2017-07-26 00:00:00,46,3.6,2.9,.,NaN,.,.
7909,74,7910,13,-254,-11,-13,116,11,14277,421,...,.,.,.,NaN,.,.,.,NaN,.,.
7910,74,7911,1264,373,7,8,2283,55,22917,.,...,3.5,3.1,2017-10-12 00:00:00,55,3.4,3.1,2017-09-14 00:00:00,56,3.4,3.1
7911,74,7912,88,376,15,13,799,11,24267,571,...,.,.,.,NaN,.,.,.,NaN,.,.
7912,74,7913,500,88,4,1,782,64,23844,882,...,3.6,3.2,2017-10-29 00:00:00,60,3.9,3.3,2017-09-29 00:00:00,56,3.7,3.3
7913,74,7914,1077,260,12,8,1664,65,25818,910,...,3.4,3.3,2017-10-07 00:00:00,63,3.6,3.3,2017-09-06 00:00:00,57,3.5,3.3
7914,74,7915,504,294,16,10,688,73,26799,926,...,3.4,3.1,2017-10-31 00:00:00,68,3.6,3.2,2017-09-30 00:00:00,58,3.5,3.1
7915,74,7916,284,209,1,3,366,78,17766,592,...,.,.,.,NaN,.,.,.,NaN,.,.
7916,74,7917,6,-1557,-48,-46,805,1,14519,528,...,.,.,.,NaN,.,.,.,NaN,.,.
7917,74,7918,246,305,7,8,263,94,18407,634,...,3.5,3.2,2017-09-26 00:00:00,39,3.5,3.2,2017-08-30 00:00:00,38,3.6,3.3
7918,74,7919,276,35,9,3,816,34,13470,546,...,.,.,.,NaN,.,.,.,NaN,.,.

In [43]:
data["State"][data["State"] == "  ."] = np.nan

/home/brian/.local/lib/python3.6/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [58]:
data["Fat10"][data["Fat10"] == "  ."] = np.nan

In [66]:
data.Fat10[1]

' . '