In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split, cross_val_score
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Read in dataset 1
data = pd.read_excel("dataset_1.xls")

# Data Cleaning

From the initial viewing of the data, we noticed that many instances had missing data for some dates (usually tdate10 through tdate12). For now, we have set those values to NaN.

We also noticed whitespace occurred in the columns. We erased them and lowercased the names for simplicity.

In [3]:
# Example of an instance without data for each date
data.iloc[0,:]

State                          11
 Herd                           1
# PTAs                        581
 PTAM                         272
PTAF                           17
PTAP                           11
RHA # cows                    590
 % W PTAs                      98
 RHAM                       29810
 RHAF                        1093
 RHAP                         921
Tdate1        2018-08-15 00:00:00
 Milk1                         86
 Fat1                         3.4
 Pro1                         3.1
Tdate2        2018-07-21 00:00:00
 Milk2                         87
 Fat2                         3.5
 Pro2                           3
Tdate3        2018-06-13 00:00:00
 Milk3                         86
 Fat3                         3.4
 Pro3                           3
Tdate4        2018-05-16 00:00:00
 Milk4                         86
 Fat4                         3.4
 Pro4                         3.1
Tdate5        2018-04-11 00:00:00
 Milk5                         80
 Fat5                         3.5
 Pro5                         3.1
Tdate6        2018-03-21 00:00:00
 Milk6                         78
 Fat6                         3.6
 Pro6                         3.1
Tdate7        2018-02-21 00:00:00
 Milk7                         82
 Fat7                         3.7
 Pro7                         3.1
Tdate8        2018-01-24 00:00:00
 Milk8                         78
 Fat8                         3.9
 Pro8                         3.1
Tdate9        2017-12-20 00:00:00
 Milk9                         80
 Fat9                         3.8
 Pro9                         3.2
Tdate10       2017-11-15 00:00:00
 Milk10                        79
 Fat10                        3.8
 Pro10                        3.1
Tdate11       2017-10-19 00:00:00
 Milk11                        80
 Fat11                          4
 Pro11                        3.1
Tdate12       2017-09-19 00:00:00
 Milk12                        78
 Fat12                        3.8
 Pro12                        3.1
Name: 0, dtype: object

In [27]:
# Remove whitespace from column names
data.columns = list(map(lambda x: x.strip().lower(), data.columns))

# Find values of '  .' and set to NaN
for col in data.columns:
    try:
        data[col][data[col] == '  .'] = data[col][data[col] != '  .'].mean()
        data[col][data[col] == ' . '] = data[col][data[col] != '  .'].mean()
        data[col][data[col] == '   .'] = data[col][data[col] != '  .'].mean()
        data[col][data[col] == '    .'] = data[col][data[col] != '  .'].mean()
        data[col][data[col] == '       .'] == np.nan
        if "date" not in col:
            data[col] = data[col].astype(float)
    except:
        continue

# Data Analysis

In [5]:
# Dimensions of data
data.shape

(7919, 59)

In [6]:
# Initial summary statistics
data.describe()

,state,herd,# ptas,ptam,ptaf,ptap,rha # cows,% w ptas,rhaf,rhap,...,pro9,milk10,fat10,pro10,milk11,fat11,pro11,milk12,fat12,pro12
count,7919.000000,7919.000000,7919.000000,7919.000000,7919.000000,7919.000000,7919.000000,7919.000000,7868.000000,7868.000000,...,6383.000000,5882.000000,5866.000000,5866.000000,5101.000000,5091.000000,5091.000000,3806.000000,3798.000000,3798.000000
mean,31.738603,3960.000000,142.206971,150.691375,9.027024,5.764996,216.199899,61.779265,877.239451,708.504575,...,3.150807,62.027882,3.875230,3.140811,61.725740,3.805637,3.096700,62.246978,3.779568,3.064007
std,11.987906,2286.162724,355.044773,356.828884,12.999496,10.967446,441.442926,28.500609,158.287331,124.193157,...,0.134838,11.673558,0.320722,0.137292,11.787126,0.314055,0.127777,11.525574,0.301237,0.122081
min,11.000000,1.000000,1.000000,-2940.000000,-108.000000,-99.000000,2.000000,0.000000,10.000000,5.000000,...,2.500000,15.000000,2.200000,2.500000,17.000000,2.400000,2.500000,15.000000,2.400000,2.500000
25%,23.000000,1980.500000,31.000000,-2.500000,3.000000,1.000000,60.000000,44.000000,784.000000,638.000000,...,3.100000,55.000000,3.700000,3.100000,54.000000,3.600000,3.000000,55.000000,3.600000,3.000000
50%,31.000000,3960.000000,57.000000,213.000000,11.000000,7.000000,95.000000,71.000000,888.000000,720.000000,...,3.100000,63.000000,3.900000,3.100000,62.000000,3.800000,3.100000,63.000000,3.800000,3.100000
75%,41.000000,5939.500000,117.000000,370.000000,17.000000,12.000000,188.000000,84.000000,980.000000,791.000000,...,3.200000,70.000000,4.100000,3.200000,70.000000,4.000000,3.200000,70.000000,3.900000,3.100000
max,74.000000,7919.000000,9789.000000,1234.000000,63.000000,44.000000,9008.000000,250.000000,1475.000000,1135.000000,...,3.700000,100.000000,6.600000,3.800000,102.000000,6.200000,3.700000,100.000000,5.900000,3.700000

In [7]:
# Amount of unique states the herds are from
len(data.state.unique())

39

In [8]:
# Amount of unique herds, since each row is a unique herd, should be the same amount
len(data.herd.unique())

7919

# Data Visualizations

# Model Creation

In [28]:
milk_columns = []
for col in data.columns:
    if "milk" in col:
        milk_columns.append(col)
feature_cols = ['# ptas', 'ptam', 'ptaf', 'ptap', 'rha # cows',
                '% w ptas', 'rham', 'rhaf', 'rhap']

X = data.loc[:, feature_cols]
y = data.loc[:, milk_columns].mean(axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

lasso = Lasso(alpha=1)

cross_val_score(lasso, X_train, y_train, cv=10)

ValueError: could not convert string to float: '   .'

In [29]:
X

      # ptas  ptam  ptaf  ptap  rha # cows  % w ptas   rham  rhaf  rhap
0        581   272    17    11         590        98  29810  1093   921
1        319   309    23    12         331        97  30020  1134   923
2         10  -448   -18   -19         132         8  22439   892   701
3         54   388    16    11          60        90  23466   821   689
4         76   658    21    19          80        95  27769  1118   843
5         38    20    -4     1          75        51  16129   589   466
6        111   -15     0    -1         176        63  22194   805   681
7        152   362    19    15         210        72  28424  1044   873
8         41   311     2     8          48        86  21075   763   650
9         37   -21     7    -1          51        72  16093   591   496
10        48  -114    17     3          52        92  21200   863   660
11        71  -246     7    -1          78        91  22436   836   711
12        22  -169    -1    -2          25        90  18700   654   554
13        37   279     7     5          52        71  17312   624   525
14        41   -21     9     0          53        77  20787   819   671
15        25   276     6     8          37        67  16806   613   515
16        76   -10    -1    -5          83        92  21082   725   598
17        17   545    20    14          78        22  21464   739   626
18        25  -137     1    -4          54        47  14308   532   419
19        88   285    15    10         107        82  22655   778   697
20       773   698    25    23         777        99  30247  1231   923
21        11  -196     2     1         151         7  21939   855   711
22        48  -309    -6    -8         210        23  18694   790   592
23        16   157    13     7         192         8  20558   833   642
24        47   182     7     5          67        70  18924   775   583
25        52   279    13     9          60        87  22309   750   648
26        22  -295   -10    -7          24        93  19933   715   621
27         5  -595   -27   -24          51        10  15602   543   476
28        99    36    11     3         105        94  25774   996   788
29        32   624    19    17          31       105  24989   923   727
...      ...   ...   ...   ...         ...       ...    ...   ...   ...
7889      64   312    12     9          80        80  22383   770   682
7890     151   590    26    18         172        88  20273   714   617
7891     126   372    11     8         136        93  22200   831   694
7892     137   468    20    15         180        76  21873   788   674
7893     429   657    22    18         454        94  24888  1038   773
7894     174   153    10     5         197        88  22124   779   700
7895      48  -297   -10   -10         122        39  21781   822   687
7896     166  -186    -6    -5         242        69  18936   668   577
7897      78  -386   -11   -11         117        67  19810   745   628
7898     141  -161    -8    -4         190        74  21212   776   653
7899       4  -442   -20   -15         125         3  21071     .     .
7900      92   767    26    25         106        86  24593   906   769
7901       6 -1313   -44   -39         130         5  19479   407   306
7902     285   459    20    10         339        84  22203   757   686
7903     135   397    20    15         139        97  26212   978   804
7904     197   172     9     6         250        79  20208   756   636
7905     262   571    21    17         301        87  22070   797   690
7906      70   -66     2     0         256        27  22503   833   701
7907       2 -1660   -54   -57        1273         0  24330   903   750
7908     259   381    22    13         302        86  22679   889   682
7909      13  -254   -11   -13         116        11  14277   421   420
7910    1264   373     7     8        2283        55  22917     .     .
7911      88   376    15    13         799        11  24267   571   488
7912     500    88     4     1         782        64  23844   882   757
7913    1077   260    12     8        1664        65  25818   910   835
7914     504   294    16    10         688        73  26799   926   831
7915     284   209     1     3         366        78  17766   592   552
7916       6 -1557   -48   -46         805         1  14519   528   487
7917     246   305     7     8         263        94  18407   634   574
7918     276    35     9     3         816        34  13470   546   443

[7919 rows x 9 columns]

In [25]:
data.rhaf[data.rhaf.mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'